### Relevant Python 3.8 Changes

The release of Python 3.8 has brought some new features.

This is a summary of the ones _I_ deemed relevant to this course, and does not include all the changes.

For full release details, see [here](https://docs.python.org/3/whatsnew/3.8.html#summary-release-highlights)

#### Positional Only Parameters

It is now possible to define **positional-only** parameters for Python functions.

As we saw earlier in this course, when you define positional parameters in a function:

In [2]:
def my_func(a, b):
    return a + b

the user is free to pass arguments either positionally:

In [3]:
my_func(1, 2)

3

or, as named arguments:

In [4]:
my_func(b=2, a=1)

3

Some functions in Python's built-ins ared defined in such a way that certain parameters can **only** be passed positionally, for example the `print` function:

In [5]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

That `value` cannot be passed by name:

In [8]:
try:
    print(value="hello")
except TypeError as ex:
    print(ex)

'value' is an invalid keyword argument for print()

Instead, the parameter **must** be passed positionally:

In [9]:
print("hello")

hello

Until Python 3.8, it was not possible to reproduce such behavior with user-defined functions.

Now you can, by using the slash character(`/`). Parameters defined **before** the `/` become **positional-only** parameters:

In [10]:
def my_func(a, b, /):
    return a + b

In [11]:
my_func(1, 2)

3

In [13]:
try:
    my_func(a=1, b=2)
except TypeError as ex:
    print(ex)

my_func() got some positional-only arguments passed as keyword arguments: 'a, b'

You can of course mix this along with the special parameters `*` and `**`:

In [15]:
def my_func(a, b, /, *, c):
    print(a + b + c)

In [16]:
my_func(1, 2, c=10)

13

#### f-string Enhancements

Often we use f-strings to interpolate the name of a variable and it's value:

In [18]:
a, b = "hello", "world"
print(f"a={a}, b={b}")

a=hello, b=world

Python 3.8 provides a shortcut way of doing the same thing:

In [19]:
print(f"{a=}, {b=}")

a='hello', b='world'

You can even use [format specifiers](https://docs.python.org/3/library/string.html#formatspec)
to further customize the output:

In [20]:
print(f"{a=:s}, {b=:s}")

a=hello, b=world

Or when dealing with other types:

In [22]:
from datetime import datetime
from math import pi

In [23]:
d = datetime.utcnow()
e = pi

In [24]:
print(f"{d=}, {e=}")

d=datetime.datetime(2022, 3, 16, 5, 45, 14, 788211), e=3.141592653589793

And applying some format specifiers:

In [25]:
print(f"{d=:%Y-%m-%d %H:%M:%S}, {e=:.3f}")

d=2022-03-16 05:45:14, e=3.142

#### The `as_integer_ratio()` Method

The types `bool`, `int` and `Fraction` now all implement an `as_integer_ratio()` method which returns a tuple consisting of the numerator and denominator. Remember that `Decimal` and `float` already implement the same method.

In [26]:
from fractions import Fraction

In [27]:
f = Fraction(2, 3)

In [28]:
f.as_integer_ratio()

(2, 3)

In [29]:
a = 12
a.as_integer_ratio()

(12, 1)

In [30]:
flag = True
flag.as_integer_ratio()

(1, 1)

The advantage of this is mainly for polymorphism (or duck-typing), where you can now use `as_integer_ratio` irrespective of whether the variable is a `bool`, an `int`, a `float`, a `Decimal` or a `Fraction`.

In [31]:
from decimal import Decimal

In [37]:
Decimal("0.33").as_integer_ratio()

(33, 100)

In [38]:
(3.14).as_integer_ratio()

(7070651414971679, 2251799813685248)

#### The `lru_cache` decorator

As we saw in this course, we can use the `lru_cache` decorator to appky an LRU cache to our functions:

In [40]:
from functools import lru_cache

In [48]:
@lru_cache(maxsize=3)
def fib(n):
    if n <=2 :
        return 1
    else:
        return fib(n-1) + fib(n-2)

In [49]:
fib(100)

354224848179261915075

If we don't specify `maxsize`, it will default to `128`:

In [50]:
@lru_cache()
def fib(n):
    if n <=2 :
        return 1
    else:
        return fib(n-1) + fib(n-2)

In [51]:
fib(100)

354224848179261915075

The change made to this decorator in Python 3.8 allows us not to use those empty parentheses:

In [52]:
@lru_cache
def fib(n):
    if n <=2 :
        return 1
    else:
        return fib(n-1) + fib(n-2)

#### `math` Module

Many examples I use throughout this course calculate the Euclidean distance between two points:

In [53]:
import math

In [54]:
a = (0, 0)
b = (1, 1)

dist = math.sqrt((b[0] - a[1]) ** 2 + (b[1] - a[1]) ** 2)
print(dist)

1.4142135623730951

Now, it's much easier using the `dist()` function the `math` module:

In [56]:
math.dist(a, b)

1.4142135623730951

#### The `namedtuple` Implementation

Actually these changes were added to Python 3.7, but since I don't have a separate lecture for Python 3.7 changes (most did not apply to this course), here it is.

The `_source` attribute was **removed**. There quite a discussion on this, and the the core dev who implemented and supported this essentially gave up trying to keep this in - it was deemed to cause too much "overhead". So, sadly (wearing my teacher's hat), it is gone. It is no more. It's not pining, it's just dead. :-)

The method I showed you for defining defaults for named tuples still works, and could still be used, but Python 3.7 added the `defaults` parameter to the named tuple definition.

In [57]:
from collections import namedtuple

In [58]:
NT = namedtuple("NT", "a b c", defaults=(10, 20, 30))

In [59]:
nt = NT()

In [60]:
nt

NT(a=10, b=20, c=30)

You don't have to specify defaults for everything, but if you do not, be aware that defaults will be applied from **right** to **left**. Which makes sense given that in Python non-defaulted parameters must be defined **before** defaulted parameters.

In [61]:
NT = namedtuple("NT", "a b c", defaults = (20, 30))

In [63]:
nt = NT(10)

In [64]:
nt

NT(a=10, b=20, c=30)

Note that with this way of specifying defaults you can easily define the same default for all items in the named tuple using the `*` operator:

In [66]:
NT = namedtuple("NT", "a b c d e f", defaults=("xyz",) * 6)

In [67]:
nt = NT()

In [68]:
nt

NT(a='xyz', b='xyz', c='xyz', d='xyz', e='xyz', f='xyz')

Just be careful if you use a **mutable** type to do this!!

In [71]:
NT = namedtuple("NT", "a b c", defaults = ([],) * 3)

In [72]:
nt = NT()

In [73]:
nt

NT(a=[], b=[], c=[])

In [74]:
nt.a.append(10)

In [75]:
nt.a

[10]

But watch this!

In [76]:
nt

NT(a=[10], b=[10], c=[10])

I hope you understand what happened here without me telling you!

The **same** list object was re-used 3 times in the defaults.

You can easily recover your defaults using the `_field_defaults` method:

In [78]:
NT = namedtuple("NT", "a, b, c", defaults=(1, 2, 3))

In [79]:
NT._field_defaults

{'a': 1, 'b': 2, 'c': 3}

One change of note in Python 3.8, the `_as_dict()` method now returns a standard dictionary (key ordered in the same way as the named tuple). Prior to this version, it would return an `OrderedDict` since standard Python dictionaries did not guarantee any specific key order, but since they now do, there's no need to use the `DefaultDict` anymore.